.AllBooks {
    text-align: center;
    margin: 20px;
  }
  
  .Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  
  .SearchBar {
    max-width: 500px;
    height: 70px;
    margin-left: 10px;
    padding: 5px;
    background-color: #D9D9D9;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 48px;
    text-align: center;
  }
  
  .FilterIcon {
    width: 65px;
    height: 65px;
    cursor: pointer;
  }

  .SearchIcon {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  .AllBooksTitleCont{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .SearchCont,
  .FilterCont{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  

  .FilterIconBox,
  .SearchIconBox{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B3B3B3;
    border: 1px solid black;
    border-radius: 10px;
  }

  .SearchIconBox{
    margin-left: 20px;
  }

  .FilterWindow {
    position: fixed;
    top: 0;
    right: 0;
    width: 550px;
    height: 100%;
    background-color: #D9D9D9;
    z-index: 3;
    overflow-y: auto;
    transition: width 0.3s ease-in-out; /* Add transition */
  }
  
  .FilterWindow.collapsed {
    width: 0px; /* Change width to 0 when collapsed */
    height: 100%; /* Maintain height */
    display: none;
    overflow-y: hidden;
  }

  .FilterBox {
    background-color: #B3B3B3;
    width: 200px;
    height: 80px;
    border-radius: 15px;
    margin: 70px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }  
  .FilterBox:hover{
    transform: scale(1.2);
  }
  
  .FilterOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .FilterClose {
    position: fixed;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    cursor: pointer;
    font-size: 48px;
    font-weight: bold;
    color: #000; /* Adjust the color as needed */
    z-index: 4; /* Ensure it's above the dropdowns */
  }

  .FilterDropdown {
    background-color: #B3B3B3;
    width: 420px;
    height: 85px;
    border-radius: 5px;
    margin: 50px auto;
    display: block;
    text-align: center;
    font-size: 48px;
  }
  
  .FilterDropdown option[disabled]:first-child {
    display: none;
  }
  


  @media (max-width: 768px) {
    .FilterWindow {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%; /* Change width to 100% to cover the whole screen */
      height: 100%;
      background-color: #D9D9D9;
      z-index: 3;
      overflow-y: hidden; /* Remove scrollbar */
      transition: width 0.3s ease-in-out; /* Add transition */
    }
  
    .FilterDropdown {
      width: 80%; /* Adjust the width to your preference */
      max-width: 300px; /* Add max-width to prevent dropdowns from becoming too wide */
      height: 60px;
      font-size: 36px;
      margin: 20px auto; /* Adjust the margin to center the dropdowns */
    }
  
    .FilterClose {
      position: absolute; /* Adjust position property to make it visible */
      left: 10px;
      bottom: 0px;
      transform: translateY(750px);
      cursor: pointer;
      font-size: 48px;
      font-weight: bold;
      color: #000;
    }
    
    .AllBooksTitleCont{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 50px;
    }
    .FilterContent{
      margin-top: 100px;
    }

    .Title{
      display: flex;
      justify-content: center;
    }

    .SearchBar {
      max-width: 250px;
      height: 40px;
      margin-left: -2px;
      font-size: 20px;
    }

    .SearchCont{
      width: auto;
      margin-top: -20px;
    }

    .FilterIconBox,
    .SearchIconBox{
      width: 50px;
      height: 50px;
    }

    .SearchIconBox{
      margin-left: 5px;
    }
    .FilterIconBox{
      margin-top: 15px;
    }

    .FilterIcon,
    .SearchIcon{
      width: 50px;
      height: 50px;
    }
  }