.Main{
  width: 100vw;
  height: 100vh;
  background-color: #F0EDED;
}


/*--------------- SideBar shits -----------------*/


.SideBar {
  width: 150px;
  height: 100vh;
  background-color: #726957;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TopCont {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px; /* Create a gap at the top */
}

.MidCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MidCont img {
  margin-bottom: 20px; /* Create a gap between images */
}

.BotCont {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px; /* Create a gap at the bottom */
}

.SideBar img {
  width: 64px;
  height: 64px;
}


