.FeaturedBooks {
  max-width: 1600px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  border-radius: 20px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.FeaturedBookImage img {
  width: 101%;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
}


.ArrowLeft,
.ArrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ArrowLeft {
  left: 0;
}

.ArrowRight {
  right: 0;
}

.ArrowLeft img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.ArrowRight img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: rotate(180deg);
}
